.body{
    background-color: #F8F6F4;
}
.titlePrincipal {
    font-size: 50px;
    font-family: 'Roboto Sans', sans-serif;
    text-align: center;
    color: #0000FF;
//  background-color:#2E86C1;
    padding: 10px;
    border-radius: 5px;
    border: 7px solid #0000FF;
}
.codigo{
    width: auto; /* Ancho del componente */
    height: auto; /* Alto del componente */
    font-size: 15px;
    font-family: 'Roboto Sans', sans-serif;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    border: 5px solid #11009E;
    background-color: #EEF1FF;
}
.titleCodigo{
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    flex: 1;
}

.right {
    flex: 1;
}
.bloque{
    display:block;
    text-align:center;
    justify-content: center;
}